.UIText {
    -unity-text-outline-width: initial;
    -unity-text-outline-color: rgba(0, 0, 0, 0);
    font-size: 200%;
    -unity-font: url('project://database/Assets/UnityDefaultRuntimeTheme.tss?fileID=2230732570650464555&guid=f42aaaa639e500d478328a4d320d7644&type=3#NotInter-Regular');
    color: rgb(255, 255, 255);
    -unity-font-style: normal;
}
